* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
}

body {
    color: rgb(226, 226, 226);
    background-color: rgb(41, 41, 41);
}

#everything {
    display: flex;
}

header {
    width: 40%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "overlap";
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    grid-area: overlap;
}

#heading {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transform: translateY(-50%);
    top: 40%;
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.6);
    grid-area: overlap;
}

h1 {
    font-size: 1.75rem;
}

#form-body {
    width: 60%;
}

#main-text {
    padding: 3em 2.5em 2em 0;
    background-color: #424242;
}

#get-started-text {
    padding: 1.2em 0 0.5em 0;
}

#you-want-to-text {
    padding: 0 0 4em 0;
}

input:focus {
    border-color: #a094ff;
}

a {
    color: blanchedalmond;
}

p, label {
    width: 100%;
    font-size: 18px;
    padding: 0 0 20px 0;
}

button {
    color: #a094ff;
    font-size: 18px;
    font-weight: 700;
    margin: 10px;
    padding: 1em 4em;
    background-color: transparent;
    border: 4px solid #a094ff;
    border-radius: 5%;
    margin-bottom: 1.5em;
}

button:hover {
    color:rgb(41, 41, 41);
    background-color: #a094ff;
}

input {
    font-size: 14px;
    width: 90%;
    padding: 2px;
    margin: 10px;
}

form {
    background-color: rgb(56, 56, 56);
}

.form {
    display: grid;
    padding: 1.5em 0 0 0;
    grid-template-columns: 225px 225px;
    grid-template-rows: 90px 90px 90px;
}

#account-text {
    padding-top: 1em;
}

#form-body > * {
    padding-left: 3em;
}

@media  (max-width: 920px) {
    h1 {
        font-size: 1.4rem;
    }

    .form {
        grid-template-columns: 175px 175px;
        grid-template-rows: 90px 90px 90px;
    }
}

@media (max-width: 724px) {
    #everything {
        display: block;
    }

    #heading {
        background-color: rgba(0, 0, 0, 0.7);
        height: 100%;
        top: 50%;
    }

    h1 {
        font-size: 2em;
    }

    img {
        object-fit: cover;
        height: 25vh;
        width: 100vw;
    }

    #form-body {
        width: 100vw;
    }

    .form {
        grid-template-columns: 90vw;
        grid-template-rows: repeat(6, 90px);
    }

}